<a href="https://colab.research.google.com/github/TaeYongGong/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

In [6]:
a = 1234
for i in a:
    print(i)

TypeError: ignored

In [7]:
a = '1234'
for i in a:
    print(i)
# str도 가능

1
2
3
4

In [9]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])
for i in []:
    print(a[i])
# 값이 없으면 값을 출력하지 않는다.

1
2
3
4

In [8]:
a = '1234'
for i in range(len(a)):
    print(a[i])
# str도 가능

1
2
3
4

In [3]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [4]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [10]:
a = ('red', 'green', 'blue', 'purple')
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [14]:
a = {'a' : 'red', 'b' : 'green', 'c' : 'blue', 'd' :'purple'}
for i in a:
    print(a[i])
# value 출력
for i in a:
    print(i)
# key값 출력

red
green
blue
purple
a
b
c
d

In [5]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))
# enumerate는 "열거하다"라는 뜻이다. 이 함수는 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력으로 받아 인덱스 값을 포함하는 enumerate 객체를 돌려준다.
# >>> for i, name in enumerate(['body', 'foo', 'bar']):
# ...     print(i, name)
# ...
# 0 body
# 1 foo
# 2 bar

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [16]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))
# zip(*iterable)은 동일한 개수로 이루어진 자료형을 묶어 주는 역할을 하는 함수이다.
# >>> list(zip([1, 2, 3], [4, 5, 6]))
# [(1, 4), (2, 5), (3, 6)]
# >>> list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9]))
# [(1, 4, 7), (2, 5, 8), (3, 6, 9)]
# >>> list(zip("abc", "def"))
# [('a', 'd'), ('b', 'e'), ('c', 'f')]

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [7]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

In [8]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [9]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [10]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

In [11]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']