<a href="https://colab.research.google.com/github/TaeYongGong/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables
- int
- str
- float
- list 
- tuple
- dictionary
- set

In [1]:
a = 1; print(type(a))

<class 'int'>

In [2]:
a = 1 # int
b = 'love' # str
c = [1,2,7]  
d = [1,'2','love'] # list
# list  -> 원소는 int, string 둘다 가능하다.
e = (1,'2,','love') # tuple
f = {'a' : 165, 'b' : 170, 'c' : 182} # dic
# type : 타입을 출력해주는 함수

In [16]:
d[4:]
# 원소의 개수를 넘으면 빈 리스트를 출력해준다. 
k = []
type(k)
# 빈 리스트도 리스트이다.
[float(4)] 
# 안에 function을 넣어서 실행할 수 있다. 
k += (1,2,3)
k = [(1,2,3)]
# 위의 식은 리스트로 인식하여 처리하지만 아래의 식은 tuple로 인식한다. 
k += [1]
k.append(5)
# 위의 두가지 방법으로 리스트에 원소를 추가할 수 있다. 
k[1] = -1
# 이러한 방식으로 원소의 값을 변경할 수 있다.

[(1, 2, 3), 1, 5]

In [7]:
a = 1; a = float(a)# change it into float
print(type(a))

<class 'float'>

In [24]:
a = [1,2,3]
a[1] = -1
# 이러한 
a[-1]
a
# -1은 마지막 원소값을 출력해준다.

[1, -1, 3]

In [25]:
# but if tuple 
a =(1,2,3)
# a[0] = -1
# tuple does not support item assignment # tuple은 원소를 추가해 줄 수 없다. 
a[-1]
# 하지만 indexing은 해줄 수 있다

3

In [26]:
a = 1.2; a = int(a); print(type(a))

<class 'int'>

In [27]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

In [28]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[2])
# list(str)을 하면 split을 한뒤 리스트로 변경해 준다.

<class 'list'>
['1', '2', '3']
3

In [29]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

In [30]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])
# 튜플도 원소값으로 리스트 혹은 튜플을 가질 수 있다.

<class 'tuple'>
1
2
[3, '4']

In [38]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])
# key값을 통해 value값을 출력해 준다. 
a =	{"a": "apple", "b": "orange", "c": [1,2,3]}
a["c"]
# value값에 리스트가 들어갈 수 있다. 
a =	{"a": "apple", "b": "orange", "c": (1,2,3)}
# value값에 튜플도 들어갈 수 있다. 
a =	{"a": "apple", "b": "orange", "c": {'d' : 'bean'}}
# value값에 dic도 들어갈 수 있다. 
a["c"]["d"]
# 중첩 dictionary에서 검색을 할 수 있다.

<class 'dict'>
apple

'bean'

In [35]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]

In [40]:
a=[(1,2,3), (3,8,0)]
a[0][1]
# 중첩 리스트 indexing
a=[[1,2,3], [3,8,0]]
a[1].append(5)
# 중첩리스트에 append을 할 수 있다.